<!-- Se agrega el contenido del modulo quienes somos -->
<h1>¿Quiénes somos?</h1>
<div id="contenido">
  <!-- Se hace uso de la imagend el modulo que se encuentra en los assets del proyecto -->
  <img src="../../../assets/Imagenes/quienes.png" alt="Imagen de Quiénes somos" class="quienes-img">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod est at libero finibus, in gravida nisi dictum. Nullam nec justo et lorem finibus ullamcorper. Aliquam sed elit magna. Aliquam semper neque vel massa dignissim, ut lobortis magna aliquam. Vivamus eu bibendum nibh. Duis maximus luctus nunc ut dignissim.</p>
</div>
