  <div class="container">
  <main>
    <!-- Se crea la seccion para administrar la botonera superior de la CRUD -->
    <section class="admin">
      <h2>Administrador de productos</h2>
      <div class="actions">
        <!-- Se ejecuta el metodo OnChangeModule y se indica el módulo que se encuentra activo en el momento -->
        <button id="create-btn" (click)="OnChangeModule(1);clearproductos()">Crear nuevo producto</button>
        <button id="read-btn" (click)="OnChangeModule(2)">Ver productos existentes</button>
      </div>
    </section>
  </main>

  <!-- Se utiliza el ngIf con el objetivo de mostrar solo el formulario de crear nuevo producto, esto depende del modulo que se elija en la botonera superior -->
  <div *ngIf="module==1">
    <div class="form">
      <h3>Formulario de productos</h3>
      <!-- Se crea formulario para ser llenado por el cliente para crear el producto -->
      <form id="product-form">
        <label for="name">Nombre*:</label>
        <input type="text" id="name" name="name" [(ngModel)]="producto.nombreProducto">
        <label for="description">Descripción*:</label>
        <textarea id="description" name="description" [(ngModel)]="producto.descripcion"></textarea>
        <label for="price">Precio*:</label>
        <input type="number" id="price" name="price" [(ngModel)]="producto.precio">
        <label for="quantity">Cantidad*:</label>
        <input type="number" id="quantity" name="quantity" [(ngModel)]="producto.unidades">
        <label for="discount">Descuento:</label>
        <input type="number" id="discount" name="discount" [(ngModel)]="producto.descuento">
        <label for="image" *ngIf="!update">Imagen*:</label>
        <input type="file" *ngIf="!update" id="image" name="image" (change)="uploadFile($event)">
        <button type="submit" *ngIf="!update" (click)="InsertProducto()">Registrar</button>
        <button type="submit" class="updatebtn" *ngIf="update" (click)="UpdateProducto()">Actualizar</button>
        <button type="submit" *ngIf="update" (click)="clearproductos()">Cancelar</button>
      </form>
    </div>
  </div>
  <!-- Se utiliza el ngIf con el objetivo de mostrar solo el formulario de consultar productos, esto depende del modulo que se elija en la botonera superior -->
  <div *ngIf="module==2">
    <div class="form">
      <h3>Consulta de productos</h3>
      <form id="product-query-form">
        <label for="product-query">Ingrese el nombre del producto a consultar:</label>
        <input type="text" id="product-query" name="product-query" [(ngModel)]="filter" (ngModelChange)="filterChange();">
      </form>
    </div>
    <div class="list">
      <h3>Lista de productos</h3>
      <ul id="product-list">
        <!-- Se genera la tabla encargada de listar los los producto existentes -->
        <table>
          <thead>
            <tr>
              <th>Nombre del producto</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>descuento</th>
              <th>Unidades existentes</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of currentProductos">
              <td>{{prod.nombreProducto}}</td>
              <td>{{prod.precio}}$</td>
              <td>{{prod.descripcion}}</td>
              <td>{{prod.descuento}}</td>
              <td>{{prod.unidades}}</td>
              <td class="centerSize" (click)="SelectProduct(prod)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
              <td class="centerSize" (click)="DeleteProduct(prod)"><i class="fa fa-trash" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </ul>
    </div>
  </div>


