<!-- Se hace uso del ngFor para listar todos los productos mediante cartas -->
<div class="card" *ngFor="let prod of productos" >
  <div class="card-body" (click)="OnClickProd(prod)">
    <img [src]="'../../../assets/Imagenes/'+prod.imagenes" alt="Avatar" style="width:100%">
    <div class="container">
      <h3><b>{{prod.precio}}$</b></h3>
      <p><b>{{prod.nombreProducto}}</b></p>
    </div>
  </div>
</div>

<!-- Se crea el modal el cual se abre al momento de dar click en alguno de los productos y muestra el detalle del mismo -->
<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><b>{{selectedProd.nombreProducto}}</b></h2>
        <h2 *ngIf="selectedProd.descuento"><b>-{{selectedProd.descuento}}%</b></h2>
      </div>
      <div class="modal-body">
        <!-- Se crea la imagen de forma dinamica dependiendo de lo que se traiga en el objeto -->
        <img [src]="'../../../assets/Imagenes/'+selectedProd.imagenes" alt="Avatar" style="width:100%">
        <h3><b>Precio: </b>{{selectedProd.precio}}$</h3>
        <h4><b>Unidades en existencia: </b>{{selectedProd.unidades}}</h4>
        <p>{{selectedProd.descripcion}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary anadir" >Añadir al carrito</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="OnCloseModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
