/* Se agrega el estilo de la carta que muestra el prouducto tanto del encabezado como del cuerpo */
.card {
  cursor: pointer;
  border:  none;
  width:25%;
  padding: 0% 2% 2% 0%;
  display: inline-block;
}

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.card-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Se agrega un padding al contenedor */
.container {
  padding: 2px 16px;
}

/* Se agregan los estilos al boton de añadir */
.anadir{
  border: none;
  background-color: #ff9933;
}

.anadir:hover{
  background-color: #f7b776;
}

.anandirCon{
  text-align: right;
}

.modal-footer{
  display: block !important;
}
