<!-- Encabezado el cual se encarga de renderizar el titulo de la página centrado -->
<header>
  <h1>Supermercado Smallville</h1>
</header>
<!-- Cuerpo de la página el cual posee el formulario que debe llenar el usuario -->
<main>
  <section class="login"><br>
    <div class="login-box">
      <h2>Iniciar sesión</h2>
      <!-- Formulario que debe ser llenado con los objetivos de ingresar al sistema o registrarse para posteriormente ingresar al sistema -->
      <form>
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" [(ngModel)]="usuario.correo"><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="usuario.contrasena">
        <div>
          <input type="checkbox" id="check" style="display: inline-block;">
          <label for="check" style="display: inline-block;">Recordarme</label>
        </div>
        <label style="text-align: right;">Olvide mi Contraseña</label><br>
        <input type="submit" value="Ingresar" (click)="Login()"><br>
        <label for="New">¿No estas Registrado?</label>
        <input type="submit" value="Crear Usuario Nuevo">
      </form>
    </div>
  </section>
</main><br><br><br>
<!-- Pie de pagina la cual muestra los derechos reservados de la compañia -->
<footer>
  <p>Derechos reservados © 2023 Supermercado Smallville</p>
</footer>
