<!-- Se generan las cartas de los productos que fueron añadidos al carrito -->
<!-- Mejora: agregar un ngFor para evitar la repetitividad -->
<div class="card" *ngFor="let prod of productosCarrito">
  <div class="card-body">
    <img [src]="'../../../assets/Imagenes/'+prod.imagenes" alt="Avatar" style="width:100%">
    <div class="values">
      <div class="container">
        <h3>{{prod.nombreProducto}}</h3>
        <h5>Cantidad: {{prod.unidades}}</h5>
        <h5>Precio U: {{prod.precio}}$</h5>
        <h5>SubTotal: {{prod.unidades*prod.precio}}$</h5>
      </div>
      <div class="delete" (click)="EliminarProd(prod)">
        <!-- Se agrega el icono del basurero para eliminar el producto del carrito -->
        <i class="fa fa-trash"></i>
      </div>
    </div>
  </div>
</div>
<!-- Se agrega el total y el boton para ir a la pasarela de pagos -->
<hr>
<h1>Total: {{this.total}}$</h1>
<div class="pay">
  <button class="pay-btn" routerLink="/pagos">Pagar</button>
</div>

