/* Se agregan estilos a las cartas que van a mostar los productos */
.card {
  cursor: pointer;
  border:  none;
  width:25%;
  padding: 0% 2% 2% 0%;
  display: inline-block;
}

.card-body{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Se modifica el padding del contenedor */
.container {
  padding: 2px 16px;
}

/* Se agrega el estilo al boton de pagar  */
.pay-btn {
  text-align: center;
  padding: 10px 20px;
  background-color: #ff9933;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height:  60px;
  width: 200px;
  font-size: 30px;

}
.pay-btn:hover {
  background-color: #f69024d1;
}

.pay{
  text-align: center;
}
/* Se agregane stilos al boton de eliminar con el objetivo de que se vea proporcional */
.delete{
  float: right;
  display: flex;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 50px;
  color: red;
  cursor: pointer;
}

.values {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
